<div id="preview-list-wrapper" class="preview-list-wrapper">
  <div class="buttons">
    <button rel="tooltip" class="tile-overlay duplicate-frame-action" data-original-title="Duplicate this frame"><div class="icon icon-frame-duplicate-white"></div></button>
    <button rel="tooltip" class="tile-overlay delete-frame-action" data-original-title="Delete this frame"><div class="icon icon-frame-recyclebin-white"></div></button>
  </div>
  <div id="preview-list-scroller" class="preview-list-scroller">
    <ul class="preview-list" id="preview-list"></ul>
  </div>
  <div class="top-overflow"></div>
  <div class="bottom-overflow"></div>
</div>