<div class="vertical-centerer">
  <div
    data-setting="file"
    class="tool-icon  icon-settings-file-white"
    title="<span class='highlight'>PROJECT</span></br>Open, save or export"
    rel="tooltip" data-placement="left" >
  </div>
  
  <div
    data-setting="user"
    class="tool-icon icon-settings-gear-white"
    title="<span class='highlight'>PREFERENCES</span></br>"
    rel="tooltip" data-placement="left">
  </div>

  <div
    data-setting="resize"
    class="tool-icon  icon-settings-resize-white"
    title="<span class='highlight'>RESIZE</span></br>Resize the drawing area"
    rel="tooltip" data-placement="left">
  </div>
</div>